<!-- include layouts -->
<%- include("header"); -%> 
  <div class="box" id="heading">
  <h1><%=listTitle%></h1>
</div>
<div class="box">
    <!-- add new items with post request-->
    <!-- this causes to store different items inside only one list item -->
    <!-- <li>< newListItem ></li> -->
    <!-- loop through newListItems array, render new li for each list item -->
  <!-- <% for(let i = 0 ; i< newListItems.length ; i++){ %>
  <div class="item">
    <input type="checkbox">
    <p><%= newListItems[i].name %></p>
  </div>
  <% }%> -->

  <!-- turn for loop to forEach -->
  <% newListItems.forEach(function(item){ %>
    <div class="item">
      <input type="checkbox">
      <p><%= item.name %></p>
    </div>
    <% }) %>

   <!-- action home/root route -->
   <form class="item" action="/" method="post">
    <!-- refer to name attributes in req.body of post request -->
    <input type="text" name="newItem" placeholder="New item" autocomplete="off">
    <button type="submit" name="list" value=<%= listTitle%>>+</button>
  </form>
</div>
<%- include("footer"); -%>